*~
/build/
/builddir/
/build_*/
/.vscode/

# dpkg-buildpackage
/obj-*/
/debian/peek/
/debian/.debhelper/
/debian/files
/debian/*.substvars
/debian/*.debhelper
/debian/*.debhelper.log
/debian/debhelper-build-stamp

CMakeCache.txt
CMakeFiles/*
cmake_install.cmake
Makefile

peek
src/*.c
tests/*.c
ui/*.c
ui/about.ui
data/gschemas.compiled
data/*.desktop
data/*.appdata.xml

# snapcraft build directories
parts/
prime/
stage/
*.snap
